<style>
{{{ css }}}
</style>

<div id="ss-bar"></div>
<script type="application/json" id="ss-bar-config">{{{ JSON.stringify(barConfig) }}}</script>

@if(showDebug)
  <style>{{{ debugCss }}}</style>
@end

@if(transmitClient)
  <script>
    try {
      if (typeof window.Transmit === 'undefined') {
        {{{ transmitClient }}}
      }
    } catch(e) { /* Transmit client failed to load */ }
  </script>
@end

<script>{{{ js }}}</script>
